@{
    ViewBag.Title = "AF-QIG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery") 

<div id="Dialog_QIGInspect" style="overflow: hidden;"></div>


 @Html.Partial("~/Views/Shared/_AFLotNoSelect.cshtml")
@*<div id="afqig_div">*@
<div id="afqig_div" class="container">
    <br />
    <div id="afqig_div_title">
        <h5>ANODE INSPECTION LOGSHEET</h5>
        <span class="qig_subtitle">Smelter Division/Anode Furnace and Casting Area</span>
    </div>
    <br><br><br><br><br>
@*<div><span class="makesapce"></span>*@
<div><span class=""></span>
    <b>Date Cast: </b><span id="date_cast_qig" class="makesapce">&nbsp;</span>
    <b>Start Time: </b><span id="stime_cast_qig" class="makesapce">&nbsp;</span>
    <b>End Time: </b>  <span id="etime_cast_qig" class="makesapce">&nbsp;</span>
    <b>lot no: </b>    <span id="lot_cast_qig" class="makesapce">&nbsp;</span>

    @*<img id="afqig_imgbtn" width="20" height="20"  src="../Images/red_plus.png" /> 
            <span id="afqig_link" class="btn_label_span">QIG Inspect</span>*@



</div>
<br /><br />
<div>
    <img id="qig_save_rew_btn" class="save_btn_img_smalls" src="../Images/diskette.png" title="Save Reworkables" />
   <br><br>
    <table id="af_qig_rework_tbl" class="af_tbl">
        <tr id="">

            <th></th>
            <th>Reworkables</th>
            <th colspan="2">1st 2 rounds</th>
            <th colspan="2">1st hour</th>
            <th colspan="2">2nd hour</th>
            <th colspan="2">3rd hour</th>
            <th colspan="2">4th hour</th>
            <th colspan="2">5th hour</th>
            <th colspan="2">6th hour</th>
            <th colspan="2">7th hour</th>
            <th colspan="2">8th hour</th>
            <th colspan="2">9th hour</th>
            <th colspan="2">10th hour</th>
            <th colspan="2">Total</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
           
            
        </tr>
    </table>
   
    <table id="af_qig_grade_a_tbl" class="af_tbl">
          <img id="qig_save_cast_btn" class="save_btn_img_smalls" src="../Images/diskette.png" title="Save Cast Pcs" />
         <br><br>
        @*Grade A*@
        <tr class="td_graded">
             <th colspan="2" style="width:137px;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Grade A</strong></th>
        </tr>
    </table>

    <table id="af_qig_grade_b_tbl" class="af_tbl" >
          @*Grade B*@
        <tr class="td_graded">
            <th colspan="2" style="width:137px;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Grade B</strong></th>
        </tr>
    </table>

   <table id="af_qig_casted_tbl" class="af_tbl">
        @*Grade casted pcs*@
        <tr class="td_data">
          @*  <td>CAST PCS</td>*@
            <th colspan="2" style="width:137px;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Cast Pcs</strong></th>
           @*<td class="td_data">&nbsp;</td> *@
        </tr>
    </table>


    <table id="af_qig_reject_tbl" class="af_tbl">
         <img id="qig_save_rej_btn" class="save_btn_img_smalls" src="../Images/diskette.png" title="Save Reject" /> 
         <br><br>
        <tr>
            <th>&nbsp;</th>
            <th>Reject</th>
            <th colspan="2">1st 2 rounds</th>
            <th colspan="2">1st hour</th>
            <th colspan="2">2nd hour</th>
            <th colspan="2">3rd hour</th>
            <th colspan="2">4th hour</th>
            <th colspan="2">5th hour</th>
            <th colspan="2">6th hour</th>
            <th colspan="2">7th hour</th>
            <th colspan="2">8th hour</th>
            <th colspan="2">9th hour</th>
            <th colspan="2">10th hour</th>
            <th colspan="2">Total</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
            <th>CW 1</th>
            <th>CW 2</th>
        </tr>
    </table>


</div>
<br /><br /><br />
<div>

</div>

</div>

    <div class="div_float_right">
        <br />
        <h8>Remarks: &nbsp;&nbsp;
            @*<img id="qig_remarks_imgbtn" class="save_btn_img_small" src="../Images/diskette.png" />*@
             <img id="qig_remarks_imgbtn" class="save_btn_img_small" src="../Images/diskette.png" />
        </h8> 
        <br /><br />
        <textarea id="txtarea_qig_remarks" class="txt_area" cols="10" rows="6"></textarea>

        <br />
        <table class="af_tbl">
        <tr>
            <th colspan="2">Anode Customer<img id="qig_anode_cust_btn" class="save_btn_img_small" src="../Images/diskette.png" />
            </th>
        </tr>
        <tr>
            <th class="td_left">CW1:</th>
            <td>@Html.DropDownList("cw1_cust_ddl", (SelectList)ViewBag.Cust_List)</td>
        </tr>
        <tr>
            <th class="td_left">CW2:</th>
            <td>@Html.DropDownList("cw2_cust_ddl", (SelectList)ViewBag.Cust_List)</td>
        </tr>
        </table>


        <img id="qig_others_imgbtn" class="save_btn_img_small" src="../Images/diskette.png" /><br />
        <table id="af_others_tbl" class="af_tbl">
            <tr>
                <th colspan="10">&nbsp;Reduction During Casting (RDC)</th>
                <td><input type="text" id="paramid_119" onkeypress="return NumericOnly(event)" /></td>
            </tr>
            <tr>
                <th colspan="10">Failed Lug to Lug(FLL)</th>
                <td><input type="text" id="paramid_120" onkeypress="return NumericOnly(event)" /></td>
            </tr>
        </table>

    </div>



<script type="text/javascript">

  //  alert('test');

    $(document).ready(function () {

        $(function () {
            $('#Dialog_QIGInspect').dialog({
                autoOpen: false,
                width: 400,
                height: 600,
                resizable: false,
                draggable: true,
                title: 'QIG Inspect',
                closeText: 'Close[x]',
                modal: true,
                position: [1150, 170]
            });
       
        });

    })

</script>